.git
.nextflow
.pytest_cache
work
validation_runs
results
results_*
test_output
db
*.dmnd
*.sif
*.img
*.fa
*.fasta
*.fna
*.fq
*.fastq
*.gz
pipeline_dag.svg
pipeline_report.html
pipeline_timeline.html
pipeline_trace.txt
